@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    @apply font-sans text-steel-800 bg-white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight text-steel-900;
  }
}
